<!DOCTYPE html>
<html>
<head>
	<title>Trip Planner</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles/general.css">
	<link rel="stylesheet" type="text/css" href="styles/modal.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="styles/jquery-ui.theme.min.css">
</head>
<body>
	<div class="top-bar"></div>
	<div class="navigation-bar"></div>
	<div class="content-wrapper">
		<button class="js-trip-wizard-modal-show">Open modal</button>
		<div class="js-trip-wizard-result"></div>
	</div>
	
	<!--[MODAL HTML START]-->
	<div class="trip-wizard-modal-mask js-trip-wizard-modal-hide"></div>
	<div class="trip-wizard-modal">
		<button class="trip-wizard-modal-close js-trip-wizard-modal-hide">
			<i class="js-trip-wizard-modal-hide trip-wizard-modal-close-icon fa fa-times" aria-hidden="true"></i>
		</button>
		<div class="trip-wizard-modal-content">
			<h3 class="trip-wizard-modal-title">Let us help you plan your next vacation</h3>
			<div class="trip-wizard-modal-error js-trip-wizard-modal-error">
				You must choose date range!
			</div>
			
			<div class="js-trip-wizard-modal-dynamic-content">
				<!--[Dynamic content will go here]-->
			</div>
			<button class="trip-wizard-modal-action-button trip-wizard-modal-action-next-button js-trip-wizard-modal-next">Next<i class="trip-wizard-modal-button-icon fa fa-angle-right" aria-hidden="true"></i></button>

			<button class="trip-wizard-modal-action-button trip-wizard-modal-action-next-button js-trip-wizard-modal-finish trip-wizard-hide">Finish<i class="trip-wizard-modal-button-icon fa fa-angle-right" aria-hidden="true"></i></button>

			<button class="trip-wizard-modal-action-button trip-wizard-modal-action-back-button trip-wizard-hide js-trip-wizard-modal-prev"><i class="trip-wizard-modal-button-icon fa fa-angle-left" aria-hidden="true"></i>Back</button>
		</div>
	</div>
	<div class="trip-wizard-loader"></div>
	<!--[MODAL HTML END]-->

	<!--[UNDERSCORE TEMPLATES START]-->
	<script type="text/template" id="trip-step1">
		
		<h4 class="trip-wizard-modal-subtitle">Choose date range</h4>
		<div class="trip-wizard-modal-form-group">
			<label for="from_date">From:</label>
			<input type="text" id="from_date">
		</div>
		<div class="trip-wizard-modal-form-group">
			<label for="to_date">To:</label>
			<input type="text" id="to_date">
		</div>
		<div>
			<img src="images/FotoliaComp_80801024_dYpxND86sIQiqFgh2naxxB7miXBJvDqP_NW40.png" class="trip-wizard-step1-image" width="310" height="248" alt="travel by car">
			<h5 class="trip-wizard-step1-greeting-text">Lets go...</h5>
		</div>
		
	</script>

	<script type="text/template" id="wizard-result">
		<h4>You have selected a trip from the <span class="content-date"><%= from_date %></span> to the <span class="content-date"><%= to_date %></span></h4>
		<p>You have selected the following trip styles:</p>
		<ul><%= trip_styles %></ul>
		<p>You have selected the following trip locations:</p>
		<ul><%= geographical_region %></ul>
	</script>

	<script type="text/template" id="trip-step2">
		<h4 class="trip-wizard-modal-subtitle">Choose how far will you be willing to travel to?</h4>
		<ul class="trip-wizard-modal-grid-list js-trip-wizard-data-subject" data-subject="geographical_region">
			<%= geographicalRegionsList.value %>
		</ul>
		<div><img src="images/FotoliaComp_76810579_OhcfVAPUu8byPLBwu9NNZVD14InmWgpl_NW40.jpeg" width="210" height="210" alt="Travel Style"></div>
	</script>

	<script type="text/template" id="trip-step3">
		<h4 class="trip-wizard-modal-subtitle">Choose your trip style</h4>
		<ul class="trip-wizard-modal-grid-list js-trip-wizard-data-subject" data-subject="trip_styles">
			<%= tripStyleList.value %>
		</ul>
		<div><img src="images/FotoliaComp_162162949_w9ZBb2LuklMVddbyy6KezlxSzI0HKsz7_NW40.jpeg" width="250" height="170" alt="Travel Style"></div>
	</script>

	<script type="text/template" id="trip-wizard-modal-checkbox-grid">
		<ul class="trip-wizard-modal-grid-list" >
			<%= listItems.value %>
		</ul>
	</script>

	<script type="text/template" id="trip-wizard-modal-select">
		<div class="trip-wizard-modal-form-group">
			<label for="<%= component_id.value %>"><%= label %></label>
			<select name="<%= component_id.value %>" id="<%= component_id.value %>"><%= options %></select>
		</div>
	</script>
	<!--[UNDERSCORE TEMPLATES END]-->

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
  	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>