.trip-wizard-modal-mask {
	opacity: 0.5;
	background-color: #000;
	position: fixed;
	display: none;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.trip-wizard-modal {
	width: 640px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	height: 450px;
	background-color: #ffffff;
	position: fixed;
	display: none;
	top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -225px;
    border-radius:3px;
    z-index: 99999;
    font-family: roboto, arial;
}
.trip-wizard-loader {
	display: none;
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -75px;
	background: url('../images/loader.gif') center no-repeat;
}
.trip-wizard-modal-error {
	border:2px solid red;
	margin-top:10px;
	padding: 5px; 
	display:inline-block;
	color: red;
	display: none;
}
.trip-wizard-modal-close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
    color: #4e4e4e;
}
.trip-wizard-modal-close-icon {
	cursor: pointer;
}
.trip-wizard-modal-title {
	color: #2b7bbd;
	margin: 10px 0 0 0;
    padding: 0;
    font-size: 27px;
    font-weight: normal;
}
.trip-wizard-modal-subtitle {
	color: #002e82;
	margin: 10px 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}
.trip-wizard-modal-form-group {
	display: inline-block;
    margin:10px 0 0 30px;
}
.trip-wizard-modal-action-button {
	cursor: pointer;
    border-radius: 6px;
    padding: 5px 25px;
    line-height: 34px;
    font-size: 15px;
    border: 0;
    color: #fff;
    background-color: #07c;
}
.trip-wizard-modal-action-button:hover {
	background-color: #003580;
}
.trip-wizard-modal-action-next-button {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.trip-wizard-modal-action-next-button i{
	margin-left: 10px;
}
.trip-wizard-modal-action-back-button {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.trip-wizard-modal-action-back-button i {
	margin-right: 10px;
}
.trip-wizard-modal-button-icon {
	font-size: 23px;
}
.trip-wizard-modal-grid-list {
	overflow: hidden;
}
.trip-wizard-modal-grid-list li {
    display: block;
    float: left;
    text-align: left;
    margin:5px 0;
    width: 25%;
}
.trip-wizard-modal input[type=checkbox] {
	margin-right: 5px;
}
.trip-wizard-hide {
	display: none;
}
.trip-wizard-step1-greeting-text {
	float: left;
    margin: 109px 0 0 10px;
    color: #2b7bbd;
    font-weight: normal;
    font-size: 21px;
}
.trip-wizard-step1-image {
	float:left;
	margin-left:50px;
}